body {
    padding-top: 30px;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.reward-font {
    font-family: 'Handlee', cursive;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}
.game-title {
    font-family: 'Handlee', cursive;
    font-size: 45px;
    color: white;
    font-weight: bold;
}
.question {
    font-family: 'Handlee', cursive;
    font-size: 18em;
    color: #fff;
}

.question2 {
    font-family: 'Handlee', cursive;
    font-size: 10em;
    color: #fff;
}
.question3 {
    font-family: 'Handlee', cursive;
    font-size: 14em;
    color: #fff;
}
.question4 {
    font-family: 'Handlee', cursive;
    font-size: 8em;
    color: #fff;
}
.ikona {
    width: 50px;
    height: 50px;
}
.life-lives {
    margin-right: 5px;
}
.counting-object {
    width: 50x;
    height: 50px;
}
.blackboard {
    background-image: url("../img/blackboard.jpg");
    background-size: cover;
}

.blackboard-outer {
    background-color: transparent;
    border-width: 0px;
}
.answer-row {
    padding-top: 10px;
}
@media (max-width: 768px) {
    .apple {
        width: 25px;
        height: 25px;
    }
    .game-title {
        font-family: 'Handlee', cursive;
        font-size: 23px;
        color: black;
        font-weight: bold;
    }
    .reward-font {
        font-family: 'Handlee', cursive;
        font-size: 23px;
        color: #B5022F;
        font-weight: bold;
    }
    .blackboard {
        border-width: 5px;
        border-radius: 7px;
        margin-top: 10px;
    }
    .question {
        font-size: 5em;
    }
}
.full-width {
    width: 90%;
}

.comments-area { width: 100%; height: 200px; resize: none; }
.padding-div { height: 100px; }